tr.menuNo {font-family:verdana; font-size:9pt; color:#666666; background-color:#333333;}
tr.menuOver {font-family:verdana; font-size:9pt; color:#ffffff; background-color:#333333;}
tr.menuClick {font-family:verdana; font-size:9pt; color:#FFFFFF; background-color:#333333;}
