a:link { font-family:verdana,GulimChe; color:#999999; font-size:9pt; text-decoration: none; cursor:default;} 
a:visited { font-family:verdana,GulimChe; color:#999999; font-size:9pt; text-decoration: none; cursor:default;} 
a:hover { font-family:verdana,GulimChe; color:#ffffff; font-size:9pt; text-decoration: none; cursor:hand;} 
a:active { font-family:verdana,GulimChe; color:#ffffff; font-size:9pt; text-decoration: none; cursor:default;} 

.body1{color:#CCCCCC;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:8pt;}
.body2{color:#CC9900;font-family:verdana;line-height:140%;letter-spacing:10%;font-size:9pt;}
.body3{color:#666633;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:9pt;}
.body4{color:#6666FF;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:9pt;}
.body5{color:#999999;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:9pt;}


<!--
body 
	{
	scrollbar-face-color: #333333;
	scrollbar-shadow-color: #CCCCCC; 
	scrollbar-highlight-color: #CCCCCC;
	scrollbar-3dlight-color: #333333; 
	scrollbar-darkshadow-color: #333333;
	scrollbar-track-color: #333333;
	scrollbar-arrow-color: #CCCCCC
	}
//-->