a:link { font-family:verdana,gulimche; color:#cc9900; font-size:8pt; text-decoration: none; cursor:default;} 
a:visited { font-family:verdana,gulimche; color:#cc9900; font-size:8pt; text-decoration: none; cursor:default;} 
a:hover { font-family:verdana,gulimche; color:#ffffff; font-size:8pt; text-decoration: none; cursor:hand;} 
a:active { font-family:verdana,gulimche; color:#ffffff; font-size:8pt; text-decoration: none; cursor:default;} 

.body1{color:#CCCCCC;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:8pt;}
.body2{color:#CC9900;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:8pt;}
.body3{color:#666633;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:8pt;}
.body4{color:#6666FF;font-family:verdana,GulimChe;line-height:140%;letter-spacing:10%;font-size:11pt;font-style:italic;font-weight:bold;}

<!--
body 
	{
	scrollbar-face-color: #333333;
	scrollbar-shadow-color: #CCCCCC; 
	scrollbar-highlight-color: #CCCCCC;
	scrollbar-3dlight-color: #333333; 
	scrollbar-darkshadow-color: #333333;
	scrollbar-track-color: #333333;
	scrollbar-arrow-color: #CCCCCC
    }
//--> 